<link rel="stylesheet" href="~/css/dato.css" />

@{

<h2>Parcial 1 Programacion 3</h2>

<h3>Nombre. Andy Elì Torres Chàvez</h3>
<h3>Carrera. Tecnico En Desarrollo De Software</h3>
<h3>Carnet. 240571</h3>
}
